body {
    background-color: silver;
    
    list-style-position: inside;
}

header {
    background-color: maroon;
    color:white;
    padding: 5%;
    font-size:40px; 
    text-align: center;
}
.home a {
    color: white;
}

.home a:hover {
    background-color: silver;
    color: maroon;
}
h4 {
    font-style: italic;
}
h2 {
    font-style: bold;
    font-size: 40px;
}
nav {
    background-color: maroon;
    padding: 14px 16px;
    color: white;
}