body {
    background-color: silver;
    text-align: center;
    list-style-position: inside;
}
header {
    background-color: maroon;
    color:white;
    padding: 5%;
    font-size:40px; 
    text-align: center;
}
.home a {
    color: white;
}

.home a:hover {
    background-color: silver;
    color: maroon;
}